.film {
	.jgmtd {
		position: absolute;
		top: 10.5278rem;
		right: 1.3889rem;
		display: flex;

		.logo {
			img {
				width: 13.8056rem;
				height: 4.7222rem;
			}
		}

		.links {
			position: absolute;
			bottom: .415rem;
			left: 6.25rem;
			gap: .3rem;
			margin-left: .5rem;


			img {
				height: 0.8889rem;
				width: auto;
			}
		}
	}

}
