.film {
  position: relative;

  .johnford {
    position: absolute;
    top: 10.0000rem;
    right: 12.500rem;
    display: flex;

    .logo {
      width: 13.8056rem;
      height: 4.7222rem;
    }

    .links {
      margin-top: 2.5rem;
      gap: .3rem;

      img {
        height: 0.8889rem;
        width: auto;
      }
    }
  }

}
