.film {
	.uno {
		position: absolute;
		top: 1.525rem;
		right: 10.500rem;
		display: flex;

		.logo {
			width: 15.9722rem;
			height: 9.0556rem;
		}

		.links {
			gap: .3rem;
			transform: translateX(-1.25rem);

			img {
				height: 0.8889rem;
				width: auto;
			}
		}
	}

}
