@import '../scss_lib/breakpoints.scss';

.film {
  .uno {
    position: absolute;
    top: 3.835rem;
    right: 3.500rem;
    display: flex;

    .logo {
      width: 15.9722rem;
      height: 9.0556rem;
    }

    .links {
      gap: .3rem;
      transform: translateX(-1.25rem);

      @include onMobile() {
        position: absolute;
        bottom: -2.25rem;
        right: .5rem;

        img {
          height: 1.9459rem !important;
          width: auto;
        }
      }



      img {
        height: 0.8889rem;
        width: auto;
      }
    }
  }

}
