@import '../scss_lib/breakpoints.scss';

.film {

  &__bg {
    background-position: 50% 10% !important;
  }

  .uno {


    position: absolute;
    top: 5.135rem;
    right: 3.900rem;
    display: flex;

    @include media('<=LGtablet') {
      top: 2.85rem;
      right: 0.000rem;

    }

    @include media('<=LGphone') {
      top: 8.85rem;
      right: 3.500rem;
    }

    .logo {
      width: 15.9722rem;
      height: 9.0556rem;

      @include media('<=LGtablet') {
        width: 12.9722rem;
        height: 7.0556rem;
      }

      @include media('<=LGphone') {
        width: 15.9722rem;
        height: 9.0556rem;
      }

    }

    .links {
      gap: .3rem;
      transform: translateX(-1.25rem);

      @include onMobile() {
        position: absolute;
        bottom: -2.25rem;
        right: .5rem;

        img {
          height: 1.9459rem !important;
          width: auto;
        }
      }



      img {
        height: 0.8889rem;
        width: auto;
      }
    }
  }

}
