@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

:root {
  --background: #0E0E0E;
  --primary: #ffffff;

  font-size: 36px; //@ 1920px 
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 7.3333rem;
  font-weight: 600;
}

h2 {
  font-size: 3.7778rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

.playfair {
  font-family: 'Playfair', serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}
