@import '../../app/scss_lib/breakpoints.scss';

footer {
  height: 3.1111rem;
  width: 100%;
  border-top: .0136rem solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6667rem;
  z-index: 9999;

  @include media('<=LGtablet') {
    height: 7rem;
  }


  .owners {
    display: flex;
    align-self: flex-end;
    font-size: 0.4444rem;
    margin-left: 1rem;
    gap: .7rem;

    @include media('<=tablet') {
      display: none;
    }

    @include media('<=LGtablet') {
      font-size: 1.0rem;
      gap: 1.2rem;
      margin-left: 2rem;
    }
  }

  .footer {
    &__links {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;



      &__contact {
        display: flex;

        gap: 0.2222rem;


        @include media('<=LGtablet') {
          gap: 0.5rem;
        }

        a {
          display: flex;
          height: 0.3889rem;
        }

        img {
          height: 0.3889rem;
          width: auto;

          @include media('<=LGtablet') {
            height: 1.2889rem;
          }
        }
      }

    }

    &__href {
      display: flex;
      gap: 1.3889rem;

      @include media('<=LGtablet') {
        display: none;
      }

      a {
        font-size: 0.4444rem;
        font-weight: 400;
        text-decoration: none;
        color: var(--primary);
      }
    }

  }

  h1 {
    font-size: 0.4444rem;
    font-weight: 500;

    @include media('<=LGtablet') {
      font-size: 1.25rem;
    }

    b {
      font-weight: bold;
    }
  }
}
