@import '../../app/scss_lib/breakpoints.scss';

#navmenu {
  position: fixed;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  background: var(--background);
  z-index: 9999;
  transition: width .3s, height .3s;
  outline: .026rem white solid;
  border-bottom-right-radius: 100%;
  overflow: hidden;


  .navmenu {
    &__container {
      margin-top: 3.3333rem;
      margin-left: 2.8667rem;
      padding-top: 1rem;
      width: calc(66% - 5.7334rem);
      border-top: .026rem white solid;
      box-sizing: border-box;
      counter-reset: a;
      display: flex;
      flex-direction: column;
      gap: 1.1111rem;

      @include onMobile() {
        margin-top: 4rem;
      }

      a {
        font-weight: 600;
        transition: transform .3s, padding-left .3s, font-size .3s;
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: 2rem;

        &::before {
          content: '⋅';
          transition: margin-right .3s;
          margin-right: .9rem;
          font-size: .5rem;
          line-height: 1;
        }

        &:hover {
          box-sizing: border-box;
          padding-left: .5rem;
          font-size: 2.2rem;

          &::before {
            margin-right: 1.4rem;
          }
        }

        &:active {
          transform: scale(.9);
        }

      }
    }
  }


  &.open {
    width: 150%;
    height: 150%;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: .5rem;
  position: fixed;
  left: 1.6667rem;
  top: 1.3889rem;
  opacity: .33;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
  user-select: none;
  z-index: 9999;

  @include onMobile() {
    top: 1.45rem !important;

    img {
      width: 1.6667rem !important;
      height: 1.1944rem !important;
    }

    span {
      font-size: 1.0135rem !important;
    }
  }

  span {
    font-weight: 300;
    font-size: 0.6667rem;
  }

  img {
    width: 0.8889rem;
    height: 0.6389rem;
  }

  &:hover,
  &.open {
    opacity: 1;
  }
}
