.nav {
  display: flex;
  align-items: center;
  gap: .5rem;
  position: absolute;
  left: 1.6667rem;
  top: 1.3889rem;
  opacity: .33;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
  user-select: none;

  span {
    font-weight: 300;
    font-size: 0.6667rem;
  }

  img {
    width: 0.8889rem;
    height: 0.6389rem;
  }

  &:hover {
    opacity: 1;
  }
}
